.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    border-radius: 10px;
    background-color: #eee;
    padding: 36px;
    width: 100%;
    height: 360px;
    margin-bottom: 12px;
    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.slide-images {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 12px;
    img {
        transition: 0.1s all linear;
        border-radius: 10px;
        padding: 6px;
        border: 1px solid #ccc;
        width: 72px;
        height: 72px;
    }
    img.active {
        border: 1px solid #000;
    }
}

@media (max-width: 576px) {
}
