.wrapper {
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 4px;
    min-width: 120px;
    transition: 0.3s all linear;
    + .wrapper {
        margin-left: 8px;
    }
}

.icon {
    padding: 0;
    height: 44px;
    min-width: 44px;
    font-size: 2.8rem;
    border-radius: 50%;
}

.primary {
    font-weight: 700;
    color: #fff;
    background-color: var(--primary);
    border: 1.5px solid transparent;

    &:hover {
        border: 1.5px solid var(--primary);
        background-color: #fff;
        color: var(--primary);
    }
}

.outline {
    font-weight: 700;
    color: var(--primary);
    border: 1.5px var(--primary) solid;
    &:hover {
        border: 1.5px transparent solid;
        text-decoration: underline var(--primary);
    }
}

.uppercase {
    text-transform: uppercase;
}

.small {
    min-width: 72px;
}

.large {
    padding: 12px 4px;
    min-width: 144px;
}

.icon.small {
    height: 40px;
    min-width: 40px;
    font-size: 2.4rem;
}

.icon.large {
    height: 48px;
    min-width: 48px;
    font-size: 3.2rem;
}

@media (max-width: 576px) {
    .wrapper + .wrapper {
        margin-left: 4px;
    }
}
