.wrapper {
    background-color: #fff;
    position: absolute;
    min-width: 160px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    transform: translateX(-70%);
    margin-top: 8px;
    list-style: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    z-index: 999;
}
li + li {
    border-top: 1px solid #ccc;
}
.item {
    border-radius: 0px;
    width: 100%;
    font-size: 1.6rem;
    padding: 8px 0;
    &:hover {
        color: var(--pink);
    }
}

.item.especially {
    color: var(--pink);
    font-weight: 600;
}
