.wrapper {
    height: var(--df-layout-header-h);
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 64px;
    img {
        height: 100%;
    }
}
