.title {
    display: block;
    margin: 24px 0;
    width: 100%;
    h1 {
        width: 100%;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        text-align: left;
        font-size: 2.4rem;
        font-weight: 700;
    }
}

.primary {
    h1 {
        color: var(--primary);
        &::after {
            content: "";
            position: absolute;
            width: 50%;
            min-width: 80px;
            top: 100%;
            left: 0;
            transform: translateY(200%);
            border-top: 3px solid var(--orange);
            border-radius: 100px;
        }
    }
}

.center {
    h1 {
        text-align: center;
    }
}
